body {
    background: #EAE7DC;
    font-family: 'Open Sans', sans-serif;
    color: #8e8d8a;
    margin: 0 auto;
    width:100%;
}

header {
    text-align:center;
    margin:50px
}

nav {
    text-transform: uppercase;
}

main {
    margin: 0 auto;
    padding: 20px 40px 100px 40px;
    width: 1020px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
}

footer {
    font-size:10px;
    display: block;
}

h1, h2 {
    font-family: 'Merriweather Sans', sans-serif;
    margin: 56px 0 39px;
    font-weight: 400;
    color: #e85a4f;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

a {
    color: #e85a4f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #d8c3a5;
}

a:active {
    color: #d8c3a5;
}

.form {
    background-image: url(../imgs/chalkboard.jpg);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 610px;
    padding: 10px 20px 20px 20px;
    border: 2px dashed #8e8d8a;
    box-shadow: 4px 4px 17px -5px rgba(0,0,0,0.9);
}


#img_zat {
    float: left;
    margin-right: 10px;
}

#img_dp {
    float: right;
    margin-left: 10px;
}

.fav_links {
    display: inline;
    text-transform: uppercase;
}

.fav_links a {
    color: #e98074;
    border: 1px solid #e98074;
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    text-decoration: none;
}

.fav_links a:hover {
    background-color: #e98074;
    color: #EAE7DC;
    
}

.fav_links a:visited {
    color: #8e8d8a;
    border: 1px solid #8e8d8a;
}

.fav_links a:active {
    color: black;
    border: 1px solid black;
}

.media {
    text-align: center;
}